Repository bryanforbes/botus_receptus: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: isort
        name: isort
        language: system
        entry: poetry run isort --check-only
        files: \.pyi?$
    -   id: black
        name: black
        language: system
        entry: poetry run black --check
        files: \.pyi?$
    -   id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        files: \.pyi?$
    -   id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        types: [python]

Start of interactive pager rework
  src/botus_receptus/interactive_pager.py
  src/botus_receptus/interactive_pager/__init__.py
  src/botus_receptus/interactive_pager/base.py
  src/botus_receptus/interactive_pager/embed.py
Due: isort, black, flake8, mypy

Bump deps
  poetry.lock
Due: none

Bump aioitertools from 0.6.1 to 0.7.0
  poetry.lock
  pyproject.toml
Due: none

Bump pytest from 5.4.1 to 5.4.2
  poetry.lock
  pyproject.toml
Due: none

Fix lint errors
  src/uvloop-stubs/__init__.pyi
Due: isort, black, flake8

Actually use "n" as a placeholder
  src/botus_receptus/re.py
Due: isort, black, flake8, mypy

Fix lock file
  poetry.lock
Due: none

Bump toml from 0.10.0 to 0.10.1
  poetry.lock
  pyproject.toml
Due: none

Bump deps
  poetry.lock
  pyproject.toml
Due: none

Bump deps
  poetry.lock
  pyproject.toml
  src/botus_receptus/db/bot.py
  src/botus_receptus/db/context.py
  src/botus_receptus/db/util.py
  src/uvloop-stubs/loop.pyi
Due: isort, black, flake8, mypy

Update deps
  poetry.lock
  pyproject.toml
Due: none

Bump deps and update Github action
  .github/workflows/unit-tests.yml
  poetry.lock
  pyproject.toml
Due: none

Fix typings for 3.8
  src/uvloop-stubs/loop.pyi
Due: isort, black, flake8

Update workflow
  .github/workflows/unit-tests.yml
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Create codeql-analysis.yml (#28)
  .github/workflows/codeql-analysis.yml
Due: none

Bump deps:
  poetry.lock
  pyproject.toml
Due: none

Bump dependencies
  poetry.lock
  pyproject.toml
Due: none

Cache poetry virtualenv
  .github/workflows/unit-tests.yml
Due: none

New dependabot config and bump deps
  .dependabot/config.yml
  .github/dependabot.yml
  poetry.lock
  pyproject.toml
Due: none

Bump pytest and get rid of setup.cfg
  .flake8
  mypy.ini
  poetry.lock
  pyproject.toml
Due: none

Bump isort and add it to linting in actions
  .github/workflows/unit-tests.yml
  poetry.lock
  pyproject.toml
Due: none

Update lock file for poetry 1.0.10
  poetry.lock
Due: none

Change to use discord.py master with discord.py-stubs
  poetry.lock
  pyproject.toml
  src/botus_receptus/bot.py
Due: isort, black, flake8, mypy

Change `pass` to `...`
  src/botus_receptus/bot.py
  src/botus_receptus/config.py
  src/botus_receptus/exceptions.py
Due: isort, black, flake8, mypy

Add Cog
  src/botus_receptus/__init__.py
  src/botus_receptus/cog.py
  tests/test_cog.py
Due: isort, black, flake8, mypy

Update abc's
  pyproject.toml
  src/botus_receptus/abc.py
  src/botus_receptus/bot.py
Due: isort, black, flake8, mypy

Add better typing for unit tests
  mypy.ini
  tests/db/__init__.py
  tests/db/test_context.py
  tests/gino/__init__.py
  tests/gino/test_model.py
  tests/mocks.py
  tests/test_cli.py
  tests/test_interactive_pager.py
  tests/test_util.py
  tests/types.py
Due: isort, black, flake8, mypy

Bump deps and improve types in abc's
  poetry.lock
  src/botus_receptus/abc.py
Due: isort, black, flake8, mypy

Bump isort from 5.2.2 to 5.3.0
  poetry.lock
  pyproject.toml
Due: none

Bump discord.py and discord.py-stubs to 1.4.0 versions
  poetry.lock
  pyproject.toml
Due: none

Bump discord.py-stubs and update mypy config
  mypy.ini
  poetry.lock
  pyproject.toml
Due: none

Use pre-commit for CI
  .github/workflows/unit-tests.yml
  .pre-commit-config.yaml
Due: none

Fix for CI
  .github/workflows/unit-tests.yml
Due: none
