Repository bryanforbes/botus_receptus: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

isort:
  name: isort
  language: system
  entry: poetry run isort --check-only

black:
  name: black
  language: system
  entry: poetry run black --check

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

Bump poetry in CI
  .github/workflows/unit-tests.yml
Due: none

Switch to using typed_commands
  poetry.lock
  pyproject.toml
  src/botus_receptus/bot.py
  src/botus_receptus/checks.py
  src/botus_receptus/cog.py
  src/botus_receptus/context.py
  src/botus_receptus/db/context.py
  src/botus_receptus/exceptions.py
  src/botus_receptus/gino/bot.py
  src/botus_receptus/interactive_pager.py
  tests/test_checks.py
Due: isort, black, flake8, mypy

Add discord.py (for now)
  poetry.lock
  pyproject.toml
Due: none

Bump deps
  poetry.lock
  pyproject.toml
Due: none

Bump dependencies
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: isort, black, flake8, mypy

Bump deps
  poetry.lock
  pyproject.toml
  src/botus_receptus/abc.py
  tests/test_interactive_pager.py
Due: isort, black, flake8, mypy

Bump dependencies and use published discord-ext-typed-commands
  poetry.lock
  pyproject.toml
Due: none

Bump deps and make better bot classes
  poetry.lock
  pyproject.toml
  src/botus_receptus/bot.py
  src/botus_receptus/db/bot.py
  src/botus_receptus/gino/bot.py
Due: isort, black, flake8, mypy

Make sure we're using 1.5.0
  pyproject.toml
Due: none

Fix typing for cli constructor arg
  poetry.lock
  src/botus_receptus/cli.py
Due: isort, black, flake8, mypy

Dependency updates
  .github/workflows/unit-tests.yml
  fix-poetry.sh
  poetry.lock
  pyproject.toml
  src/uvloop-stubs/loop.pyi
Due: isort, black, flake8

Remove coc config
  .vim/coc-settings.json
Due: none

Add Python 3.9 to CI
  .github/workflows/unit-tests.yml
Due: none

Add method for 3.9
  src/uvloop-stubs/loop.pyi
Due: isort, black, flake8

Bump isort and rename script
  .github/workflows/unit-tests.yml
  fix-site-packages.sh
  poetry.lock
  pyproject.toml
Due: none

Bump flake8-pyi from 20.5.0 to 20.10.0
  poetry.lock
  pyproject.toml
Due: none

Bump discord.py and discord.py-stubs
  poetry.lock
  pyproject.toml
Due: none

Bump gino-stubs and asyncpg-stubs
  poetry.lock
  pyproject.toml
Due: none

Bump pre-commit from 2.7.1 to 2.8.1
  poetry.lock
  pyproject.toml
Due: none

Bump discord.py-stubs from 1.5.1.0 to 1.5.1.2
  poetry.lock
  src/botus_receptus/interactive_pager.py
Due: isort, black, flake8, mypy

Use new install poetry action and in-project venv
  .github/workflows/unit-tests.yml
Due: none

Bump dependencies
  poetry.lock
  pyproject.toml
Due: none

Bump discord-ext-typed-commands and add compat module
  poetry.lock
  pyproject.toml
  src/botus_receptus/__init__.py
  src/botus_receptus/compat.py
  src/botus_receptus/config.py
  src/botus_receptus/context.py
  src/botus_receptus/formatting.py
  src/botus_receptus/gino/model.py
  src/botus_receptus/interactive_pager.py
  src/botus_receptus/re.py
Due: isort, black, flake8, mypy

Update poetry.lock
  poetry.lock
Due: none

Update discord.py and discord.py-stubs for 1.6.0
  poetry.lock
  pyproject.toml
Due: none

Add entries to compat for 3.9+ updates to typing module
  src/botus_receptus/compat.py
  src/botus_receptus/context.py
  src/botus_receptus/db/context.py
  src/botus_receptus/db/util.py
  src/botus_receptus/formatting.py
  src/botus_receptus/gino/model.py
  src/botus_receptus/gino/util.py
  src/botus_receptus/interactive_pager.py
  src/botus_receptus/logging.py
  src/botus_receptus/re.py
  src/botus_receptus/util.py
Due: isort, black, flake8, mypy

Bump pytest-mock from 3.5.0 to 3.5.1
  poetry.lock
  tests/conftest.py
Due: isort, black, flake8, mypy

Bump gino-stubs
  poetry.lock
  pyproject.toml
Due: none

Bump mypy from 0.782+ to 0.800+ and update code
  .github/workflows/unit-tests.yml
  fix-site-packages.sh
  poetry.lock
  pyproject.toml
  src/botus_receptus/abc.py
  src/botus_receptus/bot.py
  src/botus_receptus/cli.py
  src/botus_receptus/compat.py
  src/botus_receptus/config.py
  src/botus_receptus/context.py
  src/botus_receptus/db/bot.py
  src/botus_receptus/db/context.py
  src/botus_receptus/db/util.py
  src/botus_receptus/formatting.py
  src/botus_receptus/gino/base.py
  src/botus_receptus/gino/model.py
  src/botus_receptus/gino/util.py
  src/botus_receptus/interactive_pager.py
  src/botus_receptus/logging.py
  src/botus_receptus/re.py
  src/botus_receptus/util.py
  src/uvloop-stubs/loop.pyi
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.pyi?$
  black: any of: \.pyi?$
  flake8: any of: \.pyi?$
  mypy: any of: \.py$
