Repository bryanforbes/botus_receptus: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

isort:
  name: isort
  language: system
  entry: poetry run isort --check-only

black:
  name: black
  language: system
  entry: poetry run black --check

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

Add uvloop-stubs to packages
  pyproject.toml
Due: none

Adjust build
  pyproject.toml
Due: none

Bump gino-stubs
  poetry.lock
  pyproject.toml
Due: none

Update build
  pyproject.toml
Due: none

Bump mypy from 0.782+ to 0.800+ and update code (#98)
  .github/workflows/unit-tests.yml
  fix-site-packages.sh
  poetry.lock
  pyproject.toml
  src/botus_receptus/abc.py
  src/botus_receptus/bot.py
  src/botus_receptus/cli.py
  src/botus_receptus/compat.py
  src/botus_receptus/config.py
  src/botus_receptus/context.py
  src/botus_receptus/db/bot.py
  src/botus_receptus/db/context.py
  src/botus_receptus/db/util.py
  src/botus_receptus/formatting.py
  src/botus_receptus/gino/base.py
  src/botus_receptus/gino/model.py
  src/botus_receptus/gino/util.py
  src/botus_receptus/interactive_pager.py
  src/botus_receptus/logging.py
  src/botus_receptus/re.py
  src/botus_receptus/util.py
  src/uvloop-stubs/loop.pyi
Due: isort, black, flake8, mypy

Update code
  src/botus_receptus/interactive_pager.py
  tests/db/test_context.py
  tests/mocks.py
Due: isort, black, flake8, mypy

Update poetry.lock
  poetry.lock
Due: none

Change extras names
  poetry.lock
  pyproject.toml
Due: none

Another extras name change
  .github/workflows/unit-tests.yml
  poetry.lock
  pyproject.toml
Due: none

Extras changes
  poetry.lock
  pyproject.toml
Due: none

Update unit test action
  .github/workflows/unit-tests.yml
Due: none

Update sqlalchemy dependency
  poetry.lock
  pyproject.toml
Due: none

Update dependabot config
  .github/dependabot.yml
Due: none

Update lock file
  poetry.lock
Due: none

Drop typing extras
  poetry.lock
  pyproject.toml
Due: none

Remove uvloop stubs (included in uvloop now)
  pyproject.toml
  src/uvloop-stubs/__init__.pyi
  src/uvloop-stubs/loop.pyi
Due: isort, black, flake8

Bump asyncpg, asyncpg-stubs, and gino
  poetry.lock
  pyproject.toml
  src/botus_receptus/db/bot.py
  src/botus_receptus/db/context.py
  src/botus_receptus/db/util.py
  tests/db/test_context.py
  tests/db/test_util.py
Due: isort, black, flake8, mypy

Clean up some code
  src/botus_receptus/checks.py
  src/botus_receptus/cli.py
  src/botus_receptus/formatting.py
  src/botus_receptus/interactive_pager.py
  src/botus_receptus/logging.py
  src/botus_receptus/re.py
  src/botus_receptus/util.py
Due: isort, black, flake8, mypy

Drop support for 3.7
  .github/workflows/unit-tests.yml
  poetry.lock
  pyproject.toml
  src/botus_receptus/__init__.py
  src/botus_receptus/compat.py
  src/botus_receptus/config.py
  src/botus_receptus/context.py
  src/botus_receptus/formatting.py
  src/botus_receptus/gino/model.py
  src/botus_receptus/interactive_pager.py
  src/botus_receptus/logging.py
  src/botus_receptus/re.py
  src/botus_receptus/util.py
Due: isort, black, flake8, mypy

Use positional-only arguments where possible
  poetry.lock
  pyproject.toml
  src/botus_receptus/abc.py
  src/botus_receptus/bot.py
  src/botus_receptus/checks.py
  src/botus_receptus/cli.py
  src/botus_receptus/cog.py
  src/botus_receptus/config.py
  src/botus_receptus/context.py
  src/botus_receptus/db/bot.py
  src/botus_receptus/db/context.py
  src/botus_receptus/db/util.py
  src/botus_receptus/formatting.py
  src/botus_receptus/gino/base.py
  src/botus_receptus/gino/bot.py
  src/botus_receptus/gino/model.py
  src/botus_receptus/gino/util.py
  src/botus_receptus/interactive_pager.py
  src/botus_receptus/logging.py
  src/botus_receptus/re.py
  src/botus_receptus/util.py
Due: isort, black, flake8, mypy

Update CodeQL workflow
  .github/workflows/codeql-analysis.yml
Due: none

Bump discord.py-stubs
  poetry.lock
  pyproject.toml
Due: none

Limit CodeQL runs
  .github/workflows/codeql-analysis.yml
Due: none

Bump discord.py and stubs
  poetry.lock
  pyproject.toml
Due: none

Bump stubs deps
  poetry.lock
  pyproject.toml
Due: none

Another stubs bump
  poetry.lock
  pyproject.toml
Due: none

Bump mypy
  .github/dependabot.yml
  poetry.lock
  pyproject.toml
  src/botus_receptus/util.py
Due: isort, black, flake8, mypy

Bump click from 7.1.2 to 8.0.1
  poetry.lock
  pyproject.toml
  src/botus_receptus/cli.py
Due: isort, black, flake8, mypy

Bump mypy and discord.py-stubs
  poetry.lock
  pyproject.toml
Due: none

Update workflow to remove untracked packages
  .github/workflows/unit-tests.yml
Due: none

Fix typo
  .github/workflows/unit-tests.yml
Due: none

Bump asyncpg-stubs and gino-stubs
  poetry.lock
  pyproject.toml
Due: none

Use reusable workflow
  .github/workflows/unit-tests.yml
Due: none

Use reusable CodeQL analysis workflow
  .github/workflows/codeql-analysis.yml
Due: none

Fix bugbear error
  src/botus_receptus/cli.py
Due: isort, black, flake8, mypy

Bump mypy from 0.910 to 0.931
  poetry.lock
  src/botus_receptus/bot.py
  src/botus_receptus/db/bot.py
Due: isort, black, flake8, mypy

Bump black from 21.11b1 to 21.12b0
  poetry.lock
  pyproject.toml
  src/botus_receptus/bot.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.pyi?$
  black: any of: \.pyi?$
  flake8: any of: \.pyi?$
  mypy: any of: \.py$
