Repository bryanforbes/botus_receptus: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        language: system
        entry: poetry run black -- --check
        files: \.pyi?$
    -   id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        files: \.pyi?$
    -   id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        types: [python]

Pass options to py.test with --
  .travis.yml
Due: none

Add python package Github action
  .github/workflows/pythonpackage.yml
Due: none

Update unit test workflow
  .github/workflows/unit-tests.yml
Due: none

Update README.md
  README.md
Due: none

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Bump gino-stubs
  poetry.lock
  pyproject.toml
Due: none

Bump deps and update loop.pyi
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/uvloop-stubs/loop.pyi
Due: black, flake8

Bump lockfile deps and build system requires
  poetry.lock
  pyproject.toml
Due: none

Update typings and bump deps
  poetry.lock
  pyproject.toml
  src/asyncpg-stubs/_testbase/__init__.pyi
  src/asyncpg-stubs/_testbase/fuzzer.pyi
  src/asyncpg-stubs/cluster.pyi
  src/asyncpg-stubs/compat.pyi
  src/asyncpg-stubs/connect_utils.pyi
  src/asyncpg-stubs/connection.pyi
  src/asyncpg-stubs/connresource.pyi
  src/asyncpg-stubs/exceptions/__init__.pyi
  src/asyncpg-stubs/pool.pyi
  src/more_itertools-stubs/__init__.pyi
  src/more_itertools-stubs/more.pyi
  src/more_itertools-stubs/recipes.pyi
  src/uvloop-stubs/__init__.pyi
  src/uvloop-stubs/loop.pyi
Due: black, flake8

Check asyncpg and uvloop stubs with mypy
  .github/workflows/unit-tests.yml
Due: none

Fix workflow file
  .editorconfig
  .github/workflows/unit-tests.yml
Due: none

Bump deps
  .editorconfig
  poetry.lock
  pyproject.toml
  setup.cfg
Due: none

Bump mypy
  .github/workflows/unit-tests.yml
  poetry.lock
  pyproject.toml
Due: none

Bump deps and update checks.py
  poetry.lock
  pyproject.toml
  src/botus_receptus/checks.py
Due: black, flake8, mypy

Bump deps
  poetry.lock
  pyproject.toml
Due: none

Bump deps
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Fix flake8 error
  src/botus_receptus/interactive_pager.py
Due: black, flake8, mypy

Bump deps and remove more_itertools extra
  poetry.lock
  pyproject.toml
Due: none

Remove more_itertools from the CI install
  .github/workflows/unit-tests.yml
Due: none

Use poetry 1.0.2 in CI
  .github/workflows/unit-tests.yml
Due: none

Fix py.test invocation in Github action
  .github/workflows/unit-tests.yml
Due: none

Bump pytest-mock
  poetry.lock
  pyproject.toml
Due: none

Change discord.py dep to use branch instead of rev
  poetry.lock
  pyproject.toml
Due: none

Bump deps
  poetry.lock
Due: none

Update deps and typings
  poetry.lock
  pyproject.toml
  src/uvloop-stubs/loop.pyi
Due: black, flake8

Bump workflow versions and remove codecov token
  .github/workflows/unit-tests.yml
Due: none

Bump discord.py and fixes for mypy strict mode
  poetry.lock
  pyproject.toml
  setup.cfg
  src/botus_receptus/cli.py
  src/botus_receptus/db/bot.py
  src/botus_receptus/db/context.py
  src/botus_receptus/interactive_pager.py
  src/botus_receptus/re.py
Due: black, flake8, mypy

Fixes for decorators
  poetry.lock
  pyproject.toml
  src/botus_receptus/checks.py
Due: black, flake8, mypy

Fixes for decorators
  src/botus_receptus/checks.py
Due: black, flake8, mypy

Bump gino deps
  poetry.lock
  pyproject.toml
Due: none

Add dependabot config
  .dependabot/config.yml
Due: none

Bump gino, gino-stubs, and use asyncpg-stubs project
  .github/workflows/unit-tests.yml
  poetry.lock
  pyproject.toml
  src/asyncpg-stubs/__init__.pyi
  src/asyncpg-stubs/_testbase/__init__.pyi
  src/asyncpg-stubs/_testbase/fuzzer.pyi
  src/asyncpg-stubs/cluster.pyi
  src/asyncpg-stubs/compat.pyi
  src/asyncpg-stubs/connect_utils.pyi
  src/asyncpg-stubs/connection.pyi
  src/asyncpg-stubs/connresource.pyi
  src/asyncpg-stubs/cursor.pyi
  src/asyncpg-stubs/exceptions/__init__.pyi
  src/asyncpg-stubs/exceptions/_base.pyi
  src/asyncpg-stubs/introspection.pyi
  src/asyncpg-stubs/pgproto/__init__.pyi
  src/asyncpg-stubs/pgproto/exceptions.pyi
  src/asyncpg-stubs/pgproto/pgproto.pyi
  src/asyncpg-stubs/pgproto/types.pyi
  src/asyncpg-stubs/pool.pyi
  src/asyncpg-stubs/prepared_stmt.pyi
  src/asyncpg-stubs/protocol/__init__.pyi
  src/asyncpg-stubs/protocol/codecs/__init__.pyi
  src/asyncpg-stubs/protocol/protocol.pyi
  src/asyncpg-stubs/serverversion.pyi
  src/asyncpg-stubs/transaction.pyi
  src/asyncpg-stubs/types.pyi
  src/asyncpg-stubs/utils.pyi
Due: black, flake8
